
@import url('https://fonts.googleapis.com/css2?family=Joan&family=STIX+Two+Text:ital@1&display=swap');

body {
    font-size: 20px;
    font-family: 'Joan', serif;
    text-align: center;

    background-size: cover;
}

header{
    text-align: center;
    color: rgb(249, 246, 242);
}

section {
    background: rgb(249, 246, 242);
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.179);
}

div {
    padding: 8px;
}

footer {
    text-align: center;
    font-style: italic;
}

